@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700");

.App {
  font-family: "Source Sans Pro", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.botonCalcular {
  display: inline-block;
  outline: none;
  cursor: pointer;
  font-weight: 600;
  border-radius: 20px;
  padding: 12px 24px;
  border: 0;
  color: #000021;
  background: #84d0e1;
  line-height: 1.15;
  font-size: 16px;
  margin-top: 15px;
}
.botonCalcular:hover {
  transition: all 0.1s ease;
  box-shadow: 0 0 0 0 #fff, 0 0 0 3px #84d0e1;
}

.inputScore {
  border: 1px solid #84d0e1;
  padding: 10px;
  font-size: 16px;
  border-radius: 20px;
  width: 100%;
  box-sizing: border-box;
  text-align: center;
}

inputScore:focus {
  border-color: #84d0e1;
  outline: none;
}
.tablaAlergias {
  border-collapse: collapse;
  text-align: left;
  width: 200px;
  border-radius: 5px;
}

td {
  border: 1px solid;
  border-color: #f2f2f2;
  padding: 4px;
  padding-left: 6px;
}

th {
  background-color: #84d0e1;
  padding: 4px;
  padding-left: 6px;
}

.tablaAlergias tr:nth-child(even) {
  background-color: #f2f2f2;
}

.tablaAlergias tr:hover {
  background-color: #d6eff5;
}
